@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!--model IEnumerable<SmartHome.Models.Room>-->
@model SmartHome.Models.Room;


@{
    ViewData["Title"] = "Index";
}

@if (SignInManager.IsSignedIn(User)) //user zalogowany
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Add room...</a>
        <a asp-controller="Images" asp-action="Create" class="btn btn-primary">Add room image...</a>
        <a asp-controller="Sensors" asp-action="Create" class="btn btn-primary">Add sensor...</a>
        <!--<a asp-controller="Sensors" asp-action="Create" class="btn btn-primary">Dodaj czujnik</a>-->
        <!--<a asp-action="Settings" class="btn btn-primary">Ustawienia</a>-->
        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-primary">Settings</a>
    </p>

    <div id="container-left">
        <div id="container-navigation">
            
                @if (Model != null)
            {
                <div id="left-arrow"><a asp-action="Index" asp-route-id="@((ViewBag.RoomList as IEnumerable<SmartHome.Models.Room>).ToList().IndexOf(Model))">&lt;</a></div>
                <div id="room-name">
                    [@Html.DisplayFor(model => model.Id)] @Html.DisplayFor(model => model.Name) <a style="font-size: 20px; color: red;" asp-action="Delete" asp-route-id="@(Model.Id)">[DELETE]</a>
                </div>
                <div id="right-arrow"><a asp-action="Index" asp-route-id="@((ViewBag.RoomList as IEnumerable<SmartHome.Models.Room>).ToList().IndexOf(Model)+2)">></a></div>
            }
            else
            {
                <div id="left-arrow">&lt;</div>
                <div id="room-name"></div>
                <div id="right-arrow">></div>
            }

        </div>
        <div id="room-image"></div>
    </div>
    <div id="container-right">
        <div id="sensor-table">
            <table>
                <thead>
                    <tr>
                        <td>Room sensors</td>
                        <td>Value</td>
                        <td>Set to</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="buttons">
            <div id="discard-button">
                <a asp-action="Create" style="font-size: 1vw;" class="btn btn-danger">Discard changes</a>
            </div>
            <div id="apply-button">
                <a asp-action="Create" style="font-size: 1vw;" class="btn btn-success">Apply</a>
            </div>
        </div>
    </div>
}
else //user niezalogowany
{
    <div class="text-center">
        <h1 class="display-4">Witaj w Panelu Smart Home</h1>
        <p>Aby przejść do działania Zaloguj się .</p>
    </div>
}

<!-- OLD

    <table class="table" style="float: left; width: 500px; background-color:darkblue" border="10">
        <thead>
            <tr>
                <th class="text-white ">
                    Html.DisplayNameFor(model => model.Name)
                </th>
            </tr>
        </thead>

        <tbody>
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-white">
                        <a asp-action="SeeSensor"> Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                </tr>
}
        </tbody>
    </table>

<table class="table" style="float: right; width: 300px; background-color:darkblue" border="10">
    <thead>
        <tr>
            <th class="text-white ">
                Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>

    <tbody>
        foreach (var item in ViewBag.sensors)
        {
            <tr>
                <td class="text-white">
                    <a asp-action="SeeSensor"> item.SensorName</a>
                </td>

            </tr>
        }
    </tbody>
</table>

-->