@page
@model ErrorModel
@{
    ViewData["Title"] = "Błąd";
}

<h1 class="text-danger">Błąd.</h1>
<h2 class="text-danger">Podczas przetwarzania żądania wystąpił błąd.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Zamiana na <strong>tryb programistyczny</strong> wyświetli bardziej szczegółowe informacje o zaistniałym błędzie.
</p>
<p>
    <strong>Środowiska programistycznego nie należy włączać we wdrożonych aplikacjach</strong>, ponieważ może to powodować wyświetlanie poufnych informacji z wyjątków dla użytkowników końcowych. W przypadku lokalnego debugowania środowisko programistyczne można włączyć, ustawiając <strong>ASPNETCORE_ENVIRONMENT</strong> zmienną środowiskową <strong>Development</strong>, aby zrestartować aplikację.
</p>
