@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potwierdzenie email.";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Dziękujemy za potwierdzenie Twojego konta email.
    </p>
</div>
