@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie zmiany hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Twoje hasło zostało zrestartowane, <a asp-page="./Login">wciśnij tutaj, aby się zalogować</a>.
</p>
