
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] = "Panel";</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/StyleSheet.css" />
    </environment>

</head>

<body >
    
    <header>
        <button class="btn" type="button">
            Dodaj Pokój
        </button>
        <!--<button class="btn" type="button">
            Dodaj czujnik
        </button>
            -->
        <button class="btn" type="button">
            Ustawienia
        </button>
    </header>
    <container>
        <div class="lewa_strona">
            <br />
            <div id="drugi">

            </div>
        </div>
        <div class="prawa_strona">
            <div id="trzeci">
                <p class="text-center">Czujniki</p>
            </div>
            <button class="btn_odrzuc" type="button">
                Odrzuć
            </button>
            <button class="btn_dodaj" type="button">
                Dodaj
            </button>
        </div>
    </container>
    <footer>


    </footer>
</body>
</html>