@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Logowanie dwuetapowe";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>Nie masz kluczy odzyskiwania.</strong>
            <p>Musisz <a asp-page="./GenerateRecoveryCodes">wygenerować klucz odzyskiwania</a> zanim będziesz mógł się zalogować za jego pomocą.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>Pozostał Ci jeden klucz odzyskiwania.</strong>
            <p>Możesz  <a asp-page="./GenerateRecoveryCodes">wygenerować nowy zestaw kluczy odzyskiwania.</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>Pozostały Ci @Model.RecoveryCodesLeft klucze odzyskiwania.</strong>
            <p>Powinieneś <a asp-page="./GenerateRecoveryCodes">wygenerować nowy zestaw kluczy odzyskiwania.</a>.</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-primary">Zapomnij tą przeglądarkę</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-primary">Wyłącz logowanie dwuetapowe</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Reset recovery codes</a>
}

<h5>Aplikacja autoryzacyjna</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Dodaj aplikacje autoryzacyjną</a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Skonfiguruj aplikacje autoryzacyjną</a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Zrestartuj aplikacje autoryzacyjną</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}