@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SmartHome.Models.Image
<h1>Błąd w Dodawaniu. Spróbuj jeszcze raz (Wprowadź poprawne dane). @ViewBag.String</h1>

<div class="row controls">
    <a class="btn btn-primary" asp-controller="MemeUpload" asp-action="MemeUpload">Wróć</a>
</div>
